name: Build Calculator APK
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Install Flet
        run: pip install flet
        
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # Flet vershinii haaraaf Flutter 3.27.0 ol barbaachisa
          flutter-version: '3.27.0'
          
      - name: Build APK
        # '--no-interactive' jechuun gaaffii 'Yes/No' akka ofumaan deebisu godha
        run: flet build apk --no-interactive
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: calculator-app
          path: build/apk/*.apk
