name: Build Calculator APK
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Install Flet
        run: pip install flet
        
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # Flet 0.80.1 Flutter 3.38.5 barbaada, kanuma itti kennina
          flutter-version: '3.38.5'
          
      - name: Build APK
        # Malli kun gaaffii 'Yes/No' hunda 'Eeyyee' jedhee bira darba
        run: echo "y" | flet build apk
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: calculator-app
          path: build/apk/*.apk
